@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "GOST";
  src: url("../fonts/GOST.eot");
  src: local("☺"), url("../fonts/GOST.woff") format("woff"), url("../fonts/GOST.ttf") format("truetype"), url("../fonts/GOST.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GOST";
  src: url("../fonts/GOST_0.eot");
  src: local("☺"), url("../fonts/GOST_0.woff") format("woff"), url("../fonts/GOST_0.ttf") format("truetype"), url("../fonts/GOST_0.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GOST";
  src: url("../fonts/____ ___ _ _________.eot");
  src: local("☺"), url("../fonts/____ ___ _ _________.woff") format("woff"), url("../fonts/____ ___ _ _________.ttf") format("truetype"), url("../fonts/____ ___ _ _________.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
.text {
  font-family: "GOST";
  font-size: 24px;
  line-height: 35px;
  font-weight: normal;
}
.text p {
  margin: 0px 0px 30px 10px;
}

.textor {
  font-style: italic;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 35px;
}
.textor p {
  margin: 0px 0px 30px 10px;
}